<form [formGroup]="form" novalidate autocomplete="off">
    <div class="main-container">
        <!-- <app-mechanic-search></app-mechanic-search> -->

        <mat-form-field>
            <mat-label>Mechanic</mat-label>
            <input matInput formControlName="mechanicName" placeholder="2" required>
        </mat-form-field>

        <!-- services performed -->
        <mat-form-field>
            <mat-label>Services Performed</mat-label>
            <input matInput formControlName="servicesPerformed" placeholder="ex: complete 15inch" required>
        </mat-form-field>

        <!-- observations -->
        <mat-form-field class="service-details-comment-box">
            <mat-label>Observations</mat-label>
            <textarea matInput formControlName="observations" placeholder="ex: tyres require changing soon"></textarea>
        </mat-form-field>
    </div>
</form>

<div class="navigation-container">
    <button mat-button matStepperPrevious>BACK</button>
    <button mat-raised-button color="primary" matStepperNext>NEXT</button>
</div>

<!-- TODO remove this in production -->
<pre>{{ form.value | json }}</pre>
