<mat-card>

    <mat-card-title>Summary</mat-card-title>

    <!-- client details -->
    <mat-card>
        <label>Full Name: 
            {{ customerDetails.firstName }} 
            {{ customerDetails.lastName }}
        </label>
        <label>Company: {{ customerDetails.company }} </label>
        <label>Phone Number: {{ customerDetails.phoneNumber }} </label>
        <label>Email: {{ customerDetails.email }}</label>
        <label>License Plate: {{ customerDetails.licensePlate }}</label>
    </mat-card>

    <!-- service details -->
    <mat-card>
        <label>Date: {{ serviceDetails.visitDate | date }}</label>
        <label>Mechanic: {{ serviceDetails.mechanicName }} </label>
        <label>Services: {{ serviceDetails.servicesPerformed }}</label>
        <label>Observations: {{ serviceDetails.observations }}</label>
    </mat-card>

    <!-- tyre details -->
    <label>Storage Point: {{ storagePoint }}</label>

    <div *ngFor="let tyre of onCarData">
        <mat-card class="tyre-details">
            <label>Size: {{ tyre.size }}</label>
            <label>Rim type: {{ tyre.rimType }}</label>
            <label>Rim type: {{ tyre.tyreType }}</label>
            <label>Brand: {{ tyre.brand }}</label>
            <label>Season: {{ tyre.season }}</label>
            <label>Wear indicator: {{ tyre.wearLevel }} </label>
            <label>Caps no: {{ tyre.capsNo }}</label>
        </mat-card >

    </div>

    <div *ngFor="let tyre of inStorageData">
        <mat-card class="tyre-details">
            <label>Size: {{ tyre.size }}</label>
            <label>Rim type: {{ tyre.rimType }}</label>
            <label>Rim type: {{ tyre.tyreType }}</label>
            <label>Brand: {{ tyre.brand }}</label>
            <label>Season: {{ tyre.season }}</label>
            <label>Wear indicator: {{ tyre.wearLevel }} </label>
            <label>Caps no: {{ tyre.capsNo }}</label>
        </mat-card>
    </div>

    <mat-card-actions>
        <div>
            <button mat-raised-button (click)="print()" type="button">PRINT</button>
            <button *ngIf="customerDetails.isActive" mat-raised-button (click)="toggleActive()" type="button">DEACTIVATE</button>
            <button *ngIf="!customerDetails.isActive" mat-raised-button (click)="toggleActive()" type="button">ACTIVATE</button>
            <button mat-raised-button (click)="sendEmail()" type="button">EMAIL</button>
        </div>
        <div>
            <button mat-button matStepperPrevious>BACK</button>
            <button mat-raised-button (click)="cancel()" type="button">GO TO VISITS</button>
            <button mat-raised-button color="primary" (click)="save()" type="submit">SAVE</button>
        </div>
    </mat-card-actions>

</mat-card>