
.summary-container {
    display: flex;
    flex-flow: row nowrap;
    
    .summary-item {
        width: 40%;
        height: 40%;
    }
}

.tyres-container {
    display: flex;
    align-content: space-between;

    .tyre-item {
        margin: 20px;
        height: 40%;
    }
}

.navigation-container {
    display: flex;
    justify-content: flex-end;
}