<mat-card>

    <mat-card-title>Summary</mat-card-title>

    <!-- client details -->
    <mat-card>
        <div>Full Name:
            {{ customerDetails.firstName }}
            {{ customerDetails.lastName }}
        </div>
        <div>Company: {{ customerDetails.company }} </div>
        <div>Phone Number: {{ customerDetails.phoneNumber }} </div>
        <div>Email: {{ customerDetails.email }}</div>
        <div>License Plate: {{ customerDetails.licensePlate }}</div>
    </mat-card>

    <!-- service details -->
    <mat-card>
        <div>Date: {{ serviceDetails.visitDate | date }}</div>
        <div>Mechanic: {{ serviceDetails.mechanicName }} </div>
        <div>Services: {{ serviceDetails.servicesPerformed }}</div>
        <div>Observations: {{ serviceDetails.observations }}</div>
    </mat-card>

    <!-- tyre details -->
    <mat-card>
        <div>Storage Point: {{ storagePoint }}</div>
        <div>Caps number: {{ capsNo }}</div>
    </mat-card>

    <div>

        <div class="tyres-container">
            <div *ngFor="let tyre of onCarData">
                <mat-card>
                    <div>Size: {{ tyre.size }}</div>
                    <div>Rim type: {{ tyre.rimType }}</div>
                    <div>Tyre type: {{ tyre.tyreType }}</div>
                    <div>Brand: {{ tyre.brand }}</div>
                    <div>Season: {{ tyre.season }}</div>
                    <div>Wear indicator: {{ tyre.wearLevel }} </div>
                </mat-card>
            </div>
        </div>


        <div class="tyres-container">
            <div *ngFor="let tyre of inStorageData">
                <mat-card>
                    <div>Size: {{ tyre.size }}</div>
                    <div>Rim type: {{ tyre.rimType }}</div>
                    <div>Rim type: {{ tyre.tyreType }}</div>
                    <div>Brand: {{ tyre.brand }}</div>
                    <div>Season: {{ tyre.season }}</div>
                    <div>Wear indicator: {{ tyre.wearLevel }} </div>
                </mat-card>
            </div>
        </div>

    </div>

    <mat-card-actions>
        <div>
            <button mat-raised-button (click)="print()" type="button">PRINT</button>
            <button *ngIf="customerDetails.isActive" mat-raised-button (click)="toggleActive()"
                type="button">DEACTIVATE</button>
            <button *ngIf="!customerDetails.isActive" mat-raised-button (click)="toggleActive()"
                type="button">ACTIVATE</button>
            <button mat-raised-button (click)="sendEmail()" type="button">EMAIL</button>
        </div>
        <div>
            <button mat-button matStepperPrevious>BACK</button>
            <button mat-raised-button (click)="cancel()" type="button">GO TO VISITS</button>
            <button mat-raised-button color="primary" (click)="save()" type="submit">SAVE</button>
        </div>
    </mat-card-actions>

</mat-card>