<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <!-- step 1 -->
  <mat-step [stepControl]="customerDetailsFormGroup">

    <form [formGroup]="customerDetailsFormGroup">
      <ng-template matStepLabel>Customer details</ng-template>

      <app-customer-search></app-customer-search>

      <!-- first name -->
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="ex: Eminescu" formControlName="firstName" required>
      </mat-form-field>

      <!-- last name -->
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="ex: Mihai" formControlName="lastName" required>
      </mat-form-field>

      <!-- company -->
      <mat-form-field>
        <mat-label>Company</mat-label>
        <input matInput placeholder="ex: Premium Anvelope" formControlName="company" required>
      </mat-form-field>
    </form>


    <form [formGroup]="customerDetailsFormGroup">
      <!-- phone number -->
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="ex: 0723456789" formControlName="phoneNumber" required>
      </mat-form-field>

      <!-- email -->
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="ex: alex@gmail.com" formControlName="email" required>
      </mat-form-field>
      
      <!-- license plate -->
      <mat-form-field>
        <mat-label>License Plate</mat-label>
        <input matInput placeholder="ex: B001BOS" formControlName="licensePlate" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- step 2 -->
  <mat-step [stepControl]="serviceDetailsFormGroup">
    <form [formGroup]="serviceDetailsFormGroup">
      <ng-template matStepLabel>Service details</ng-template>

      <!-- visit date -->
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- mechanic name -->
      <mat-form-field>
        <mat-label>Mechanic Name</mat-label>
        <input matInput formControlName="mechanicName" placeholder="ex: Alex" required>
      </mat-form-field>

      <app-mechanic-search></app-mechanic-search>

      <!-- services performed -->
      <mat-form-field>
        <mat-label>Services Performed</mat-label>
        <input matInput formControlName="servicesPerformed" placeholder="ex: complete 15inch" required>
      </mat-form-field>

      <!-- observations -->
      <mat-form-field class="service-details-comment-box">
        <mat-label>Observations</mat-label>
        <textarea matInput formControlName="observations" placeholder="ex: tyres require changing soon"></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- step 3 -->
  <mat-step [stepControl]="tyreDetailsFormGroup">

    <form [formGroup]="tyreDetailsFormGroup">
      <ng-template matStepLabel>Tyre details</ng-template>
      <p>Mounted Tyre Details</p>
      
      <!-- width -->
      <mat-form-field>
        <mat-label>width</mat-label>
        <input matInput formControlName="mountedWidth" placeholder="ex: 185" required>
      </mat-form-field>

      <!-- height -->
      <mat-form-field>
        <mat-label>height</mat-label>
        <input matInput formControlName="mountedHeight" placeholder="ex: 65" required>
      </mat-form-field>

      <!-- rim diameter -->
      <mat-form-field>
        <mat-label>rim diameter</mat-label>
        <input matInput formControlName="mountedRimDiameter" placeholder="ex: R15" required>
      </mat-form-field>
    </form>

    <form [formGroup]="tyreDetailsFormGroup">

      <!-- mounted tyres brand -->
      <mat-form-field>
        <mat-label>Mounted Tyres Brand</mat-label>
        <input matInput formControlName="mountedBrand" placeholder="ex: Michelin" required>
      </mat-form-field>

      <!-- <mat-radio-group class="mounted-tyres-season" [(ngModel)]="mountedSeason">
        <mat-radio-button *ngFor= "let season of seasons" [value]="season">
          {{ season }}
        </mat-radio-button>
      </mat-radio-group> -->

      <!-- hotel tyre details -->
      <p>Hotel Tyre Details</p>
      <mat-form-field>
        <mat-label>width</mat-label>
        <input matInput formControlName="hotelWidth" placeholder="ex: 185" required>
      </mat-form-field>

      <!-- height -->
      <mat-form-field>
        <mat-label>height</mat-label>
        <input matInput formControlName="hotelHeight" placeholder="ex: 65" required>
      </mat-form-field>

      <!-- rim diameter -->
      <mat-form-field>
        <mat-label>rim diameter</mat-label>
        <input matInput formControlName="hotelRimDiameter" placeholder="ex: R15" required>
      </mat-form-field>
    </form>

    <form [formGroup]="tyreDetailsFormGroup">
      <!-- hotel tyres brand -->
      <mat-form-field>
        <mat-label>Hotel Tyres Brand</mat-label>
        <input matInput formControlName="hotelBrand" placeholder="ex: Michelin" required>
      </mat-form-field>
      <mat-radio-button value="1">Summer</mat-radio-button>
      <mat-radio-button value="2">Winter</mat-radio-button>
      <mat-radio-button value="3">All-Season</mat-radio-button>
    </form>

    <form [formGroup]="tyreDetailsFormGroup">
      <!-- tyre wear indicator -->
      <mat-form-field>
        <mat-label>Tyre wear indicator</mat-label>
        <input matInput formControlName="hotelTyreWearIndicator" placeholder="ex: 3">
      </mat-form-field>
    </form>

    <form [formGroup]="tyreDetailsFormGroup">
      <p>Hotel Rims Details</p>
      <mat-radio-button value="4">Plate Rims</mat-radio-button>
      <mat-radio-button value="5">Alloy Rims</mat-radio-button>

      <!-- caps -->
      <mat-form-field>
        <mat-label>Caps</mat-label>
        <input matInput formControlName="hotelCaps" placeholder="ex: 4">
      </mat-form-field>

      <form [formGroup]="tyreDetailsFormGroup">
        <p>StoragePoint Details</p>
        <mat-checkbox>New Customer</mat-checkbox>

        <!-- storagepoint location -->
        <mat-form-field>
          <mat-label>Storagepoint Location</mat-label>
          <input matInput formControlName="storagePointLocation" placeholder="ex: R1R1E1" required>
        </mat-form-field>
      </form>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- step 4 -->
  <mat-step [stepControl]="tyreDetailsFormGroup">
    <form [formGroup]="tyreDetailsFormGroup">
      <ng-template matStepLabel>Review Information</ng-template>

      <div class=container>
        <div>
          <!-- client details -->
          <div>
            <mat-card>
              <mat-card-subtitle>Client details</mat-card-subtitle>
              <div>
                <label for="">Full Name: {{ customerDetailsFormGroup.value.firstName }}
                  {{ customerDetailsFormGroup.value.lastName }}
                </label>
              </div>
              <div>
                <label for="">Company: {{ customerDetailsFormGroup.value.company }} </label>
              </div>
              <div>
                <label for="">Phone Number: {{ customerDetailsFormGroup.value.phoneNumber }} </label>
              </div>
              <div>
                <label for="">Email: {{ customerDetailsFormGroup.value.email }}</label>
              </div>
              <div>
                <label for="">License Plate: {{ customerDetailsFormGroup.value.licensePlate }}</label>
              </div>
            </mat-card>
          </div>

          <!-- service details -->
          <div>
            <mat-card>
              <mat-card-subtitle>Service details</mat-card-subtitle>
              <div>
                <label for="">Date: {{ serviceDetailsFormGroup.value.date }}</label>
              </div>
              <div>
                <label for="">Mechanic: {{ serviceDetailsFormGroup.value.mechanicName}}</label>
              </div>
              <div>
                <label for="">Services: {{ serviceDetailsFormGroup.value.servicesPerformed}}</label>
              </div>
              <div>
                <label for="">Observations: {{ serviceDetailsFormGroup.value.observations }}</label>
              </div>
            </mat-card>
          </div>
        </div>

        <div>
          <!-- mounted tyres -->
          <div>
            <mat-card>
              <mat-card-subtitle>Mounted Tyres</mat-card-subtitle>
              <div>
                <label for="">Size: {{tyreDetailsFormGroup.value.mountedWidth}}/
                  {{tyreDetailsFormGroup.value.mountedHeight}} R{{ tyreDetailsFormGroup.value.mountedRimDiameter }}
                </label>
              </div>
              <div>
                <label for="">Brand: {{ tyreDetailsFormGroup.value.mountedBrand }}</label>
              </div>
              <div>
                Season: {{ mountedSeason }}
              </div>
            </mat-card>
          </div>

          <!-- hotel tyres -->
          <div>
            <mat-card>
              <mat-card-subtitle>Hotel Tyres</mat-card-subtitle>
              <div>
                <label for="">Size: {{tyreDetailsFormGroup.value.hotelWidth}}/
                  {{tyreDetailsFormGroup.value.hotelHeight}} R{{ tyreDetailsFormGroup.value.hotelRimDiameter }} </label>
              </div>
              <div>
                <label for="">Brand: {{ tyreDetailsFormGroup.value.hotelBrand }}</label>
              </div>
              <div>
                <label for="">Season: {{ hotelSeason }}</label>
              </div>
              <div>
                <label for="">Wear indicator: {{ tyreDetailsFormGroup.value.hotelTyreWearIndicator }} </label>
              </div>
              <div>
                <label for="">Rims type: {{ tyreDetailsFormGroup.value.hotelRims }}</label>
              </div>
              <div>
                <label for="">Caps: {{ tyreDetailsFormGroup.value.hotelCaps }}</label>
              </div>
              <div>
                <label for="">Storage Point: {{ tyreDetailsFormGroup.value.storagePointLocation }}</label>
              </div>
            </mat-card>
          </div>
        </div>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Save</button>
        <button mat-button>Print Info</button>
        <button mat-button>Send to E-mail</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>