<!-- toolbar -->
<mat-toolbar color="primary">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Premium anvelope</span>
  <span class="spacer"></span>
  <img width="40" alt="Avatar"
    src="assets/images/avatar.png"/>
  <div>{{ currentUser }}</div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <a class="card" rel="noopener" [routerLink]="['/', appRoutesNames.HOME]">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>

    <a class="card" rel="noopener" [routerLink]="['/', appRoutesNames.VISITS]">
      <mat-icon>assignment_ind</mat-icon>
      <span>Visits</span>
    </a>

    <a class="card" rel="noopener" [routerLink]="['/', appRoutesNames.STORAGE]">
      <mat-icon>dashboard</mat-icon>
      <span>Storage</span>
    </a>

    <a class="card" rel="noopener" [routerLink]="['/', appRoutesNames.USERS]">
      <mat-icon>contacts</mat-icon>
      <span>Users</span>
    </a>

    <a class="card" rel="noopener" [routerLink]="['/', appRoutesNames.REPORTS]">
      <mat-icon>assessment</mat-icon>
      <span>Reports</span>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- content -->
    <div class="content" role="main">
    <!-- <div> -->

      <!-- quick actions -->
      <h2>Quick actions</h2>
      <p>What do you want to do next with your app?</p>

      <input type="hidden" #selection>

      <div class="card-container">
        <div class="card card-small" [routerLink]="['/', appRoutesNames.VISIT_DETAILS]"
          (click)="selection.value = 'customerVisit2'" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

          <span>Customer visit</span>
        </div>

        <div class="card card-small" [routerLink]="['/', appRoutesNames.USER_DETAILS]"
          (click)="selection.value = 'users'" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

          <span>Add user</span>
        </div>
      </div>

      <!-- <article> -->
        <div>
          <router-outlet></router-outlet>
        </div>
      <!-- </article> -->

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>