<mat-card>
    <mat-card-header>
        <mat-card-title>Storage</mat-card-title>
        <mat-card-subtitle>storage points with customer tires</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- Search -->
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Eg: B22ABC">
            <mat-hint align="start"><strong>by license plate</strong></mat-hint>
        </mat-form-field>

        <div>
            <p>License plate: B22ABC</p>
            <p>Storage point:    1    -  1   -  1  -   2   -   3</p>
            <p>               section - area - row - shelf - floor</p>
            <div *ngFor="let tire of data[0].tires">
                <mat-card>
                    <mat-card-content>
                        <p>{{ tire.size }}</p>
                        <p>{{ tire.brand }}</p>
                        <p>{{ tire.season }}</p>
                        <p>{{ tire.wornLevel }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </mat-card-content>
</mat-card>