.mat-stepper-vertical {
    margin-top: 8px;
  }
  
.mat-form-field {
    margin-top: 16px;
  }

.service-details-comment-box {
    width: 100%;
  }

.container {
  display: flex;
  justify-content: space-around
}

.mounted-tyres-season {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}