<form [formGroup]="form" novalidate autocomplete="off">

    <div class="main-container">
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Company</mat-label>
            <input matInput formControlName="company">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput maxlength="10" placeholder="Ex. 0722333444" formControlName="phone">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
    </div>
    
    <div class="navigation-container">
        <button mat-raised-button (click)="cancel()" type="button">CANCEL</button>
        <button mat-raised-button color="primary" (click)="save()" type="submit">SAVE</button>
    </div>

</form>

<!-- TODO remove this in production -->
<pre>{{ form.value | json }}</pre>
