<form [formGroup]="form" novalidate autocomplete="off">

  <div class="main-container">
    <div class="tyre-size">
      <mat-form-field>
        <mat-label>Width</mat-label>
        <input matInput placeholder="Ex. 205" formControlName="width" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Height</mat-label>
        <input matInput placeholder="Ex. 40" formControlName="height" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Diameter type</mat-label>
        <input matInput placeholder="Ex. 15" formControlName="diameterType" />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Brand</mat-label>
      <input type="text" matInput formControlName="brand" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayBrand">
        <mat-option *ngFor="let option of filteredBrands | async" [value]="option">
          {{ option.display }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="radio-container">
      <div>
        <mat-label>Rim type</mat-label>
        <mat-radio-group class="radio-group" formControlName="rimType">
          <mat-radio-button class="radio-button" *ngFor="let type of rimTypes" [value]="type.value">
            {{ type.viewValue }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <mat-label>Tyre type</mat-label>
        <mat-radio-group class="radio-group" formControlName="tyreType">
          <mat-radio-button class="radio-button" *ngFor="let type of tyreTypes" [value]="type.value">
            {{ type.viewValue }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <mat-label>Wear level</mat-label>
    <mat-radio-group class="radio-group" formControlName="wearLevel">
      <mat-radio-button class="radio-button" *ngFor="let type of wearLevels" [value]="type.value">
        {{ type.viewValue }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-label>Season</mat-label>
    <mat-radio-group class="radio-group" formControlName="season">
      <mat-radio-button class="radio-button" *ngFor="let type of availableSeasons" [value]="type.value">
        {{ type.display }}
      </mat-radio-button>
    </mat-radio-group>

    <div class="navigation-container">
      <button mat-raised-button (click)="cancel()" type="button">CANCEL</button>
      <button mat-raised-button color="primary" (click)="save()" type="submit">SAVE</button>
    </div>
  </div>

</form>

<!-- TODO remove this in production -->
<pre>{{ form.value | json }}</pre>