<div class="list-visit">

<h3>CUSTOMER VISITS LIST</h3>

<h5 style="padding: 1%;">Enter customer license plate below and click search to retrieve visit history</h5>

<!-- <form novalidate [formGroup]="inputForm">
    <mat-form-field>
        <input matInput placeholder="license plate" formControlName="licensePlate" type="text">
    </mat-form-field>
    <button (click)="onFindByLicensePlate()" class="default" mat-raised-button>search</button>
</form> -->

<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="License plate">
</mat-form-field>


<mat-table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

    <!-- customer id -->
    <ng-container matColumnDef="customerId">
      <mat-header-cell *matHeaderCellDef mat-header-cell>Customer Id</mat-header-cell>
      <mat-cell *matCellDef="let element" mat-cell>{{element.customerId}}</mat-cell>
    </ng-container>

    <!-- license plate -->
    <ng-container matColumnDef="licensePlate">
      <mat-header-cell *matHeaderCellDef mat-header-cell>License Plate</mat-header-cell>
      <mat-cell *matCellDef="let element" mat-cell>{{element.licensePlate}}</mat-cell>
    </ng-container>

    <!-- visit date -->
    <ng-container matColumnDef="visitDate">
      <mat-header-cell *matHeaderCellDef mat-header-cell>Visit Date</mat-header-cell>
      <mat-cell *matCellDef="let element" mat-cell>{{element.visitDate}}</mat-cell>
    </ng-container>

    <!-- season passed -->
    <ng-container matColumnDef="seasonPassed">
      <mat-header-cell *matHeaderCellDef mat-header-cell>Season Passed</mat-header-cell>
      <mat-cell *matCellDef="let element" mat-cell>{{element.seasonPassed}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" mat-header-row style="background-color: cornflowerblue;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" mat-row></mat-row>

  </mat-table>

</div>