<form [formGroup]="form" novalidate autocomplete="off">
    <mat-card>

        <mat-card-title>Customer info</mat-card-title>

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="visitDate" formControlName="visitDate">
            <mat-datepicker-toggle matSuffix [for]="visitDate"></mat-datepicker-toggle>
            <mat-datepicker #visitDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>

      <mat-form-field class="example-full-width">
            <mat-label>Company</mat-label>
            <input matInput formControlName="company">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Phone</mat-label>
            <input matInput maxlength="10" placeholder="Ex. 0722333444" formControlName="phone">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
  
        <mat-card-actions>
            <button mat-raised-button (click)="print()" type="button">PRINT</button>
            <div *ngIf="visit.isActive">
                <button mat-raised-button (click)="toggleActive()" type="button">DEACTIVATE</button>
            </div>
            <div *ngIf="!visit.isActive">
                <button mat-raised-button (click)="toggleActive()" type="button">ACTIVATE</button>
            </div>
            <button mat-raised-button (click)="cancel()" type="button">CANCEL</button>
            <button mat-raised-button color="primary" (click)="save()" type="submit">SAVE</button>
        </mat-card-actions>

    </mat-card>

    <mat-card>
        <mat-card-title>Vehicle info</mat-card-title>

        <mat-form-field class="example-full-width">
            <mat-label>License plate</mat-label>
            <input matInput formControlName="licensePlate">
        </mat-form-field>
    </mat-card>
</form>

<mat-card>
    <mat-card-title>Vehicle info</mat-card-title>

    <div class="example-container">
        <h2>On car</h2>

        <button mat-mini-fab color="primary" matTooltip="Add tire">
            <mat-icon>add</mat-icon>
        </button>

        <div cdkDropList #onCarList="cdkDropList" [cdkDropListData]="onCarData"
            [cdkDropListConnectedTo]="[inStorageList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of onCarData" cdkDrag>{{item}}</div>
        </div>
    </div>

    <div class="example-container">
        <h2>In storage</h2>

        <div cdkDropList #inStorageList="cdkDropList" [cdkDropListData]="inStorageData"
            [cdkDropListConnectedTo]="[onCarList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of inStorageData" cdkDrag>{{item}}</div>
        </div>
    </div>

    <!-- TODO remove this in production -->
    <pre>{{ form.value | json }}</pre>

</mat-card>