<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ tyre.size }}</mat-card-title>
        <mat-card-subtitle>{{ tyre.brand }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="assets/images/tyre-icon.png" alt="tyre icon"> -->
    <mat-card-content>
        <div>Rim type: {{ tyre.rimType }}</div>
        <div>Tyre type: {{ tyre.tyreType }}</div>
        <div>Season: {{ tyre.season }}</div>
        <div>Wear indicator: {{ tyre.wearLevel }}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button
            matTooltip="Edit tire"
            (click)="editTyre(tyre)">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button
            matTooltip="Clone tire"
            (click)="cloneTyre(tyre)">
            <mat-icon>file_copy</mat-icon>
        </button>
        <button mat-icon-button
            matTooltip="Delete tire"
            (click)="deleteTyre(tyre)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>